* {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: lightblue;
}

#joke {
    border-radius: 15px;
}

h1 {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 15px;
    }
    #joke {
        max-width: 100%;
    }
}